<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Educational Platform - Help From Professional</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light mx-auto" style="background: lightblue">
        <div class="container">
            <a class="navbar-brand" href="/"><img th:src="@{107765.png}" style="height: 60px; width: 60px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/fixYourStuff">Fix Your Stuff</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/learn">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/community">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log in / Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="text-align: center; margin-top: 50px; margin-bottom: 35px;">
        <h3 style="margin-bottom: 20px;"><b>Seek Help from Professional</b></h3>
        <h5 style="font-family: Arial;">Get help from one of our professionals, they will respond in minutes!</h5>
    </div>

    <hr style="height: 4px; background: cornflowerblue;">
    <br>
    <div class="container" style="display: flex; justify-content: space-evenly;">
        <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="col">
                <div class="card border border-3" style="width: 18rem; height: 20rem; border-color: lightblue; border-radius: 20px;">
                    <div class="card-body" style="text-align: center; margin-top: 20px;">
                        <h3 class="card-title">John John</h3>
                        <h6 class="card-subtitle text-muted" style="margin-bottom: 50px;">Tel. number <br> +1 - 380 - 4566</h6>
                        <br>
                        <h6 class="card-subtitle text-muted" style="margin-bottom: 20px;">E-mail <br> johnjohn@something.com</h6>
                        <a class="btn" href="/johnjohnProfessional" style="background: lightblue; font-size: 18px; font-family: Arial; border-radius: 15px;"><b>Contact John</b></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border border-3" style="width: 18rem; height: 20rem; border-color: lightblue; border-radius: 20px;">
                    <div class="card-body" style="text-align: center; margin-top: 20px;">
                        <h3 class="card-title">Smith Smith</h3>
                        <h6 class="card-subtitle text-muted" style="margin-bottom: 50px;">Tel. number <br> +1 - 380 - 4566</h6>
                        <br>
                        <h6 class="card-subtitle text-muted" style="margin-bottom: 20px;">E-mail <br> smithsmith@something.com</h6>
                        <a class="btn" href="/smithsmithProfessional" style="background: lightblue; font-size: 18px; font-family: Arial; border-radius: 15px;"><b>Contact Smith</b></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border border-3" style="width: 18rem; height: 20rem; border-color: lightblue; border-radius: 20px;">
                    <div class="card-body" style="text-align: center; margin-top: 20px;">
                        <h3 class="card-title">Jesica Jesica</h3>
                        <h6 class="card-subtitle text-muted" style="margin-bottom: 50px;">Tel. number <br> +1 - 380 - 4566</h6>
                        <br>
                        <h6 class="card-subtitle text-muted" style="margin-bottom: 20px;">E-mail <br> jesicajesica@something.com</h6>
                        <a class="btn" href="/jesicajesicaProfessional" style="background: lightblue; font-size: 18px; font-family: Arial; border-radius: 15px;"><b>Contact Jesica</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>